body{
		margin: 0px;
		color: white;
		font-family: 'Poppins' ,  sans-serif;
		background: url(bg.jpg) no-repeat center;
		min-height:  657px;
		min-width: 100%;
	}
	
	.login{
		width: 480px;
		height: 550px;
		border-radius: 15px;
		background-color: #f0f0f049;
		border: 2px solid white;
		margin-top: 20px;
	
	}
	.login h1{
padding-top: 20px;
	}
	form{
		margin-top: 10px;
	}
	input[type=text]{
		width: 450px;
		height: 45px;
		border: none;
		border-radius: 10px;
		padding:5px;
		
		
	}
	label{
		padding-top: 30px;
		font-size: 20px;
		padding-right: 17em;
		height: 70px;
	}
	input[type=text]:active,input[type=text]:focus{
		outline: none;
		
	}
	input[type=text]:hover{
	background-color: #f5f0f0;
	transition: 0.3s;
	}
	.loginbtn{
		margin-top: 50px;
		width: 70%;
		height: 45px;
		border-radius: 15px;
		background-color: #022D8E;
		color: white;
	    border: none;
	}
	.loginbtn:hover{
		background-color: #022c8ea1;
		color: white;
		transition: 0.5s;
	}
	.forgetpw{
		color: white;
	text-align: center;
		
	
	}
	.forgetpw:link{
		text-decoration: none;
		
	}
	.forgetpw:hover{
		color: rgba(255, 255, 255, 0.794);
		transition: 0.3s;
	}
	.signup{
		margin-top: 10px;
		width: 70%;
		height: 45px;
		border-radius: 15px;
		background-color: #022D8E;
		color: white;
	    border: none;
	}
	.signup:hover{
		background-color: #022c8ea1;
		color: white;
		transition: 0.5s;
		
	
	}
	@media screen and (max-width: 600px) {
		body{
			background-repeat: repeat-y;
			
	}
	.banner{
		display: none;
	}
	.login{
		width: 90%;
		height: 580px;
		border-radius: 15px;
		background-color: #f0f0f049;
		border: 2px solid white;
		margin-top: 10%;
	
	}
	input[type=text]{
		width: 300px;
		height: 45px;
		border: none;
		border-radius: 10px;
		padding:5px;
		
		
	}
	label{
		padding-top: 30px;
		font-size: 20px;
		padding-right: 60%;
		height: 60px;
		font-size: 16px;
	}
	}
	@media screen and (max-width: 1000px) {
		body{
			background-repeat: repeat-y;
			
	}
	.banner{
		display: none;
	}
	.login{
		width: 90%;
		height: 580px;
		border-radius: 15px;
		background-color: #f0f0f049;
		border: 2px solid white;
		margin-top: 20%;
	
	}
	
	}
	@media screen and (max-width: 380px) {
		body{
			background-repeat: repeat-y;
			
	}
	.banner{
		display: none;
	}
	.login{
		width: 90%;
		height: 580px;
		border-radius: 15px;
		background-color: #f0f0f049;
		border: 2px solid white;
		margin-top: 10%;
	
	}
	input[type=text]{
		width: 250px;
		height: 45px;
		border: none;
		border-radius: 10px;
		padding:5px;
		
		
	}
	label{
		padding-top: 30px;
		font-size: 20px;
		padding-right: 60%;
		height: 60px;
		font-size: 16px;
	}
	}